{% extends 'main/main.html' %}
{% load static %}
{% block content %}

<div class = "container">
  <div class = "row slider-text align-items-center justify-content-center">
    <div class="col-lg-9 text-center col-sm-12 animate__animated animate__fadeIn">
      <h1 class="mb-4">Blog Posts</h1>
      <p>We are an organization dedicated to fostering a community of people passionate about Neurotech. Our mission is to expose the field of Neurotech to everyone on campus. We strive to provide resources, host events, and offer professional development for our members.</p>
    </div>
    <br>
  </div>
<hr>
<br>
  <div class="col-lg-12 text-left col-sm-12">
    <div class="card text-left mb-3" id="round">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Date</h6>

          <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis neque sapien ornare commodo. Et mi, quis elit rutrum at. Pulvinar erat lectus velit lacus eu placerat auctor lorem at. Ut sed suspendisse porttitor erat.</p>
        </div>

    </div>
  </div>

  <div class="col-lg-12 text-left col-sm-12">
    <div class="card text-left mb-3" id="round">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Date</h6>

          <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis neque sapien ornare commodo. Et mi, quis elit rutrum at. Pulvinar erat lectus velit lacus eu placerat auctor lorem at. Ut sed suspendisse porttitor erat.</p>
        </div>

    </div>
  </div>

  <div class="col-lg-12 text-left col-sm-12">
    <div class="card text-left mb-3" id="round">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Date</h6>

          <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis neque sapien ornare commodo. Et mi, quis elit rutrum at. Pulvinar erat lectus velit lacus eu placerat auctor lorem at. Ut sed suspendisse porttitor erat.</p>
        </div>

    </div>
  </div>
</div>

{% endblock %}
